<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!--配置输出日志 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

<!--    设置别名-->
    <typeAliases>
<!--        name: 实体类所在的包名-->
        <package name="com.nguyenxb.entity"/>
    </typeAliases>

    <!--指定其他mapper文件的位置:
            目的: 使用这里的连接数据库信息来执行其他文件的sql语句-->
    <!--Enter the path to your mapper file -->
    <mappers>
<!--        mapper文件所在的包名-->
        <package name="com.nguyenxb.dao"/>
    </mappers>
</configuration>